
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('contact us.jpg');
            background-size: cover;

            background-position: center;
            color: #fff;background-repeat: no-repeat;
        }
        
        .container {
            max-width: 600px;
            margin: auto;
            background: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
            margin-top: 100px;
        }
        h1 {
            text-align: center;
            color: #ffcc00; 
         } 
          p {
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin: 10px 0 5px;
        }
        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
        }
        button {
            width: 100%;
            padding: 10px;
            background: #ffcc00; 
             border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }
        button:hover {
            background: #ffc107;
        }
