
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
    
}

 .container {
    width: 80%;
    margin: 80px auto 20px;
    padding: 20px;
}

.service-section {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.service-section h2 {
    cursor: pointer;
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.service-details {
    display: none;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 20%;
}

footer a {
    text-decoration: none;
}  
