 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}

.size1{
  font-size: xx-large;
}

@media(min-width:1000px){
.endheader{
  position: absolute;
  right: 5%;
}
.margin5{
  margin-left: 3rem;
}
}
.btnhover{
  font-size: 18px;
}
.btnhover:hover{
  background:greenyellow;
  color: black;
  border-radius: 5px;
}

.img{
  background: url('img.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  animation: img 15s steps(1) infinite normal;
}


@keyframes img {
  0% { background-image: url('img.jpg'); }
  /* 33% { background-image: url('MP1.jpg'); }
  66% { background-image: url('img.jpg'); } */
  50% { background-image: url('MP1.jpg'); }
} 

.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background:yellowgreen;
  color: black;
}

.btn1 a:hover{
  background-color: yellowgreen;
}
section {
  padding: 20px;
  margin: 20px;
  background: #fff;
  border-radius: 5px;
}
ul {
  list-style-type: disc;
  padding-left: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #333;
  color: white;
}
